fieldset {
    width: 350px;
    padding: 20px;
}

input {
    margin-bottom: 20px;
}

label {
    width: 150px;
    display: inline-block;
}

table {
    width: 10%;
    border: 2px solid;
    border-collapse: collapse;
}

th, td {
    border: 2px solid;
    padding: 5px 10px;
}

caption {
    margin-top: 20px;
    font-size: 1.5rem;
}
a {
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}