
.color-navigation {
    background-color: firebrick;
}

.color-root {
    background-color: #ffe9d8;
}

.main-nav-block > .main-nav {
    display: flex;
    justify-content: space-around;
}
.main-photo {
    display: flex;
    justify-content: center;
}

.basket-block {
    background: white;
    position: fixed;
    right: 0;
    top: 15%;
    border: 3px solid black;
    border-radius: .5rem;
    z-index: 5;
}

.productCard {
    flex-direction: row;
}
.search {
    position: relative;
}

.select_list {
    position: absolute;
    z-index: 9;
    top:55px;
    width: 55%;
}