:root {
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.flex {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #202846;
    padding-left: 138px;
    padding-right: 63px;
}

.logo-header {
    width: 178px;
    height: auto;
}

.menu {
    padding-left: 0;
    margin: 0px 10px 0px 292px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

li {
    display: inline;
    padding-right: 54px;
    width: 170px;
    text-align: center;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
}

.image-header {
    width: 60px;
    margin: 15px;
}

.image-header-text {
    margin: 0;
    font-size: 28px;
    color: #ffffff;
}

.top-block-header {
    background-color: #C6C6DC;
    font-size: 48px;
    color: #202846;
}

.top-block-header-text {
    display: block;
    margin-left: 227px;
    padding-top: 43px;
    padding-bottom: 43px;
}

main {
    background-color: #DCDCDC;
}

.navigation-title {
    width: 1489px;
    background-color: rgba(232, 232, 232, 1);
    margin-left: 216px;
    margin-top: 56px;
    margin-bottom: 56px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation-title-text {
    font-size: 28px;
    margin-left: 574px;
}

.navigation-title-image {
    width: 32px;
    height: 29px;
    padding-left: 525px;
}

.cards {
    padding-bottom: 141px;
}

.card {
    position: relative;
    display: flex;
    background-color: #BDBDC6;
    padding: 28px 87px 28px 103px;
    margin-left: 216px;
    margin-right: 215px;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 36px;
}

.card-text-in-box-options {
    display: inline-flex;
    margin: 8px 0px 0px 102px;
    background-color: #D7D7DD;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    line-height: 28.47px;
    padding: 35px 45px 35px 45px;
}

.card-text-above-line-options {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;
    font-size: 36px;
    color: #353C57;
    font-weight: 700;
    border: none;
    border-bottom: 3px solid white;
}

.card-more {
    position: absolute;
    right: -50px;
    bottom: 7px;
    background-color: #202846;
    color: white;
    font-size: 24px;
    padding: 15px 39px;
    border-radius: 30px;
}

.card-star {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
}

.card:hover {
    background-color: #AEAEE2;
    box-shadow: 0px 2px 20px 6px #AEAEE2;
}

.card-more:hover {
    background: #EF075B;
}

.card-star-path:hover {
    fill: #FFFF00;
}

.button {
    width: 101px;
    height: 101px;
    border-radius: 50%;
    position: relative;
    display: flex;
    background-color: #9597af;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-up-arrow {
    position: fixed;
    bottom: 10%;
    left: 78%;
}

